--- 
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/CustomHeader.astro';
import Footer from '../components/Footer.astro';
import { CldImage } from 'astro-cloudinary';
interface Props {
  title: string;
  description?: string;
  heroImage?: string | undefined;
  heroAlt?: string;
  showTitle?: boolean;
  color?: string;
}

const { title, description = '', heroImage = undefined, heroAlt = '', showTitle = false, color = '4af626'} = Astro.props;

---
<base-page data-color={color}>
  <BaseHead title={title} description={description} image={heroImage}/>
  <body class="transition-colors duration-500" transition:animate="slide">
    <Header />
    <main class="flex flex-col items-center ">
      <section>
        {heroImage && <CldImage width={720} height={360} src={heroImage} alt={heroAlt} />}
        {title && showTitle && <h1 class="my-3 text-center">{title}</h1>}
      </section>
      <section class="px-4 pb-4 flex w-full md:w-4/5 items-center flex-col">
        <slot/>
      </section>
    </main>
    <Footer />
  </body>
</base-page>
<script>
  import { $color } from "../store";

  class BasePage extends HTMLElement {
    constructor() {
      super();
    }
    connectedCallback() {
      const body = document.body as HTMLBodyElement;
      if (this.dataset.color !== undefined) {
        $color.set(this.dataset.color);
      }
      $color.subscribe(c => {
        body.style.backgroundColor = `#${c}`;
      });
    }
  }

  customElements.define('base-page', BasePage);
</script>
