---
import BasePage from '../layouts/BasePage.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  showTitle: boolean,
  description: string;
  pubDate: Date;
  updatedDate?: Date;
  heroImage?: string;
  heroAlt?: string;
}

const { title, showTitle, description, pubDate, updatedDate, heroImage, heroAlt = 'A poor description of an image' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title + " | mtonc.dev"} description={description} />
  </head>
  <BasePage title={title} showTitle={showTitle} description={description} heroImage={heroImage} heroAlt={heroAlt} showTitle>
      Originally published: <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="italic">
            Last updated on: <FormattedDate date={updatedDate} />
          </div>
        )
      }
    <article>
      <slot/>
    </article>
  </BasePage>
</html>
